<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue template - Directives</title>
  </head>
  <body>
    <div id="app">
      <a v-if="flag">Do it Vue.js</a>
      <ul>
        <li v-for="system in systems">{{system}}</li>
      </ul>
      <p v-show="flag">Do it Vue.js</p>
      <h5 v-bind:id="uid">Vue introduction</h5>
      <button v-on:click="popupAlert">Alert window button</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          flag: true,
          systems: ['android', 'iOS', 'window'],
          uid: 10
        },
        methods: {
          popupAlert: function(){
            return alert('Show the Alert window ');
          }
        }
      });
      </script>
  </body>
</html>
